.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(29, 202, 255, 0.62);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4em;
    transition: background-color 0.3s ease;
}

.orange-btn {
    background-color: #ff5722;
    color: black;
    font-weight: bold;
}

.contact-btn:hover {
    background-color: #fa815c;
}

.button-group .btn {
    margin-left: 20px;
}

.btn:hover {
    background-color: #09bdf1;
}
