body {
    margin: 0;
    font-family: 'Courier New', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
}

header {
    margin-bottom: 20px;
}

.button-group .btn:nth-of-type(1) {
    margin-left: 0;
}

.btn:hover {
    transform: scale(1.05);
}

.btn.purchase {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 1.2em;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-columns {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    max-width: 100%;
    height: 620px;
}

.content-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.column {
    flex: 1 1 400px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.column.top-three {
    display: flex;
    flex-direction: column;
}

.column h2 {
    margin-top: 0;
}

.image {
    flex: 0 0 auto;
    margin-right: 14px;
    display: grid;
    place-items: center;
    height: 100px;
    width: 100px;
    max-width: 100px;
}

.image img {
    max-width: 100px;
    max-height: 100px;

}

.details {
    flex: 1;
    text-align: left;
}

h1 {
    font-size: 5em;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 3em;
    margin: -10px 0.5em 0.5em 0.5em;
}

.alert-warning {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #f88e8e, #f56767, #f53b3b);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

p.alert-warning {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #f88e8e, #f56767, #f53b3b);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0 0;
}

ul {
    list-style: none;
}

.footer {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.footer p {
    font-size: 1.3em;
    margin: 0;
}

.review-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    margin: 12px 0 0 0;
}

.review-info p {
    font-weight: bolder;
    font-size: 14px;
    height: 20px;
}
