.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6em;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}
hr {
    margin: 30px 0;
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.info-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.info-item p {
    margin-left: 1em;
    font-size: 20px;
}

.icon {
    font-size: 1.5em;
    margin-right: 10px;
}

.social-icon {
    margin: 0 30px;
    font-size: 2.5em;
    color: #1dcaff;
    text-decoration: none;
}

.social-icon:hover {
    color: #0ab6e8;
}


