.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    background-color: rgba(117, 200, 220, 0.34);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

label {
    margin-bottom: 5px;
    margin-top: 35px;
    display: block;
    font-weight: bold;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
}

select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
}

.confirm-btn {
    margin-top: 30px;
}