h1 {
    font-size: 4em;
}

h3 {
    min-width: 160px;
}



.container {
    padding: 30px;
}

.content-columns {
    display: flex;
    flex: 1 1 400px;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    width: 95%;
    height: 55%;
}

.column h2 {
    margin-top: 0;
}

.content-box {
    width: 95%;
    gap: 1em;
    padding: 16px;
    display: flex;
    flex-grow: 1;
    height: 104px;
    max-height: 104px;
    min-height: 104px;
}

.details {
    max-width: 350px;
}

.content-box h3 {
    margin: 0;
}

.review-box p {
    margin: 5px 0;
    font-style: italic;
}

.reviewer {
    color: #ccc;
    text-align: end;
}

.content-box.text-container {
    flex: 1;
    width: 100%;
}

.review-text{
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.review-info {
    height: 20px;
    margin-bottom: -12px;
}

.review-text {
    margin: 8px 8px 8px 8px;
}

.review-info p {
    margin: 8px;
}

.vertical-separator {
    margin: 0;
}

.column.top-three {
    align-items: center;
    width: 95%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* Reduce width to bring them closer */
    flex-grow: 1;
}

.home-button {
    margin-top: auto; /* Pushes button to the bottom */
    text-align: center;
    padding-top: 1em;
}

.home-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn.admins {
    background-color: #FFD700; /* Gold background */
    color: #3d3d3d; /* White text for contrast */
    padding: 10px 20px; /* Add some padding for better spacing */
    cursor: pointer; /* Indicates it's clickable */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    font-weight: bold; /* Emphasize the button text */
}

.btn.admins:hover {
    background-color: #DAA520; /* Darker gold on hover */
    color: #000000; /* Black text for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.btn.admins:active {
    background-color: #B8860B; /* Even darker gold for active state */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* Inset shadow for click effect */
    transform: scale(0.98); /* Slightly shrink on click for feedback */
}

.delete-btn {
    background-color: transparent;
    padding: 5px 10px;
}
