h1 {
    font-size: 4em;
}

h3 {
    width: 160px;
}

.container {
    padding: 30px;
}

.content-columns {
    display: flex;
    flex: 1 1 400px;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    width: 95%;
    height: 55%;
}

.column h2 {
    margin-top: 0;
}

.content-box {
    width: 95%;
    justify-content: space-between;
    gap: 1em;
    padding: 16px;
    display: flex;
    flex-grow: 1; /* Makes content inside stretch */
}

.details {
    max-width: 350px;
}

.content-box h3 {
    margin: 0;
}

.review-box p {
    margin: 5px 0;
    font-style: italic;
}

.reviewer {
    font-size: 0.9em;
    color: #ccc;
    text-align: end;
}

.content-box div {
    flex: 1;
}

.content-box.reviews p {
    height: 40px;
    margin: 6px 0 8px 0;
}

.column.top-three {
    align-items: center;
    width: 95%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.image {
    max-width: 120px;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* Reduce width to bring them closer */
    flex-grow: 1;
}

.home-button {
    margin-top: auto; /* Pushes button to the bottom */
    text-align: center;
    padding-top: 1em;
}

.home-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008cba;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
