label {
    margin-top: 15px;
}

h1 {
    font-size: 4em;
}

textarea {
    resize: none;
    height: 3em;
}

input {
    padding: 10px;
}

.confirm-btn {
    display: block;
    margin: 20px auto 0 auto; /* Centers horizontally */
    width: 100%; /* Make it full width of the form */
    max-width: 20em; /* Limit maximum width */
    text-align: center;
}

.form {
    padding: 30px 40px 40px 40px;
    max-width: 50rem;
}

.container {
    margin-top: 2em;
    margin-bottom: 10em;
}