h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 12px;
}

.container {
    padding: 0 20px 0 20px;
}

.column {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    max-width: 50%;
    margin: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px 60px;
    border-radius: 10px;
    height: auto;
}

.column.user-info h2 {
    text-align: center;
    margin: 0;
    width: 100%;
}

.column.user-info {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 32%;
}

.column.user-orders {
    max-width: none;
}

.button {
    margin-top: auto;
    align-self: center;
}

.profile-info {
    width: 100%;
}

.content-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-info p {
    font-size: 30px;
    margin: 40px 0 40px 0;
    width: 100%;
}

ul {
    margin-top: 0;
}

li {
    margin: 30px 0 30px 0;
}

li p {
    font-size: 24px;
}

li:first-of-type {
    margin-top: 0;
}

.client-orders {
    display: flex;
    padding: 4px 12px;
    background: rgba(61, 61, 61, 0.7);
    border-radius: 10px;
    height: auto;
    width: auto;
}

.client-orders p {
    font-size: 16px;
    margin: 2px 0;
}

.client-orders li {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.order {
    display: flex;
    margin: 6px 0;
    width: 100%;
    justify-content: space-between;
}

.customer-info {
    padding-bottom: 6px;
}

.order.items {
    padding-bottom: 6px;
}


