<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/pc-store-icon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <link rel="stylesheet" type="text/css" href="/css/checkout.css">
  <link rel="stylesheet" type="text/css" href="/css/cart.css">
  <title>Shopping Cart</title>
</head>
<body>
<div class="header">
  <div class="button-group">
    <a th:href="@{/home}" class="btn">Home</a>
  </div>
  <div class="button-group">
    <a href="/logout" class="btn logout-btn">Logout</a>
  </div>
</div>

<div class="container">
  <header>
    <h1>Shopping Cart</h1>
  </header>

  <div class="content-columns">
    <div class="cart side">
      <div th:each="cartItem : ${cartItems}" class="content-box items">
        <div class="image item">
          <img th:src="${cartItem.imageUrl}" alt="Cart Item">
        </div>
        <div class="details item">
          <div>
            <h3 th:text="${cartItem.brand} + ' ' + ${cartItem.model}"></h3>
            <p th:text="${cartItem.description}"></p>
            <p th:text="'$' + ${cartItem.price}" class="price"></p>
          </div>
          <form th:action="@{'/cart/remove/' + ${cartItem.id}}" th:method="DELETE" class="actions">
            <button class="btn">Remove</button>
          </form>
        </div>
      </div>
    </div>
    <div class="summary">
      <p th:text="'Subtotal: $' + ${cartSubtotal}" class="subtotal"></p>
      <p th:text="'Shipping: $' + ${standardShippingFee}" class="shipping"></p>
      <p th:text="'Total: $' + ${cartTotalPrice}" class="total"></p>
    </div>
    <form class="make-order" th:action="@{/orders/create}" th:method="POST" th:object="${orderRequest}">

      <div class="checkout">
        <label for="firstName">First name:</label>
        <input th:field="*{firstName}" id="firstName" name="firstName" required>

        <label for="lastName">Last name:</label>
        <input th:field="*{lastName}" id="lastName" name="lastName" required>

        <label for="customerPhoneNumber">Phone number:</label>
        <input th:field="*{customerPhoneNumber}" id="customerPhoneNumber" name="customerPhoneNumber" required>

        <label for="billingAddress">Billing Address:</label>
        <input th:field="*{billingAddress}" id="billingAddress" name="billingAddress" required>

        <label for="shippingAddress">Shipping Address:</label>
        <input th:field="*{shippingAddress}" id="shippingAddress" name="shippingAddress" required>


        <button type="submit" class="btn order">Place Order</button>
      </div>
    </form>
  </div>


</div>

<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>
</body>
</html>
