<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" href="/images/pc-store-icon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/contact.css">
  <title>Contact Us - Computer Store</title>
</head>
<body>
<div class="header">
  <a th:href="@{/home}" class="btn">Home</a>
  <div class="button-group">
  </div>
</div>
<div class="container">
  <header>
    <h1>Contact Us</h1>
  </header>
  <div class="contact-info">
    <div class="info-item">
      <span class="icon">📍</span>
      <p>123 Future Tech St, Tech City, TC 45678</p>
    </div>
    <div class="info-item">
      <span class="icon">📞</span>
      <p>(123) 456-7890</p>
    </div>
    <div class="info-item">
      <span class="icon">✉️</span>
      <p>info@computerstore.com</p>
    </div>
    <hr class="separator">
    <div class="social-media">
      <a class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a class="social-icon"><i class="fab fa-instagram"></i></a>
      <a class="social-icon"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>
</body>
</html>
