<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <title>Home - Computer Store</title>

</head>
<body>
<div class="header">
  <div class="button-group">
    <a href="/contact" class="btn orange-btn">Contact Us</a>
    <a href="/reviews" class="btn">Reviews</a>
    <a th:href="@{'/items/' + ${user.id} + '/added-items'}" class="btn">My Items</a>
    <a th:if="${user.role.name()} == 'ADMIN'" th:href="@{/users/admin-dashboard}" class="btn admins">Dashboard</a>
  </div>
  <div class="button-group">
    <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="btn">Profile</a>
    <a href="/cart" class="btn">Cart</a>
    <a href="/logout" class="btn logout-btn">Logout</a>
  </div>
</div>

<div class="container">
  <header>
    <h1>Welcome,
      <span id="userName"
            th:if="${not #strings.isEmpty(user.firstName) or not #strings.isEmpty(user.lastName)}"
            th:text="${user.firstName} + ' ' + ${user.lastName}">John Doe</span>
    </h1>
  </header>

  <div class="content-columns">
    <div class="side">
      <div class="column top-three">
        <h2>Newest Items</h2>
        <div th:each="item : ${authorizedAndNotSoldItems}" class="content-box items">
          <div class="image item">
            <img th:src="${item.imageUrl}" alt="Best Seller 1">
          </div>
          <div class="details item">
            <h3 th:text="${item.brand} + ' ' + ${item.model}">Best Seller 1</h3>
            <p th:text="'$ ' + ${item.price}">$249.99</p>
          </div>
          <a th:href="@{/items/{id}(id=${item.id})}" class="btn purchase">See More</a>
        </div>
      </div>
      <div class="home-button">
        <a th:href="@{/items/new-item}" class="btn">Add Item For Sale</a> <!--th:href="@{/items}"-->
        <a th:href="@{/items/items-list}" class="btn">More Items</a>
      </div>
    </div>

    <div class="side">
      <div class="column top-three">
        <h2>Reviews</h2>
        <div th:each="review : ${newestReviews}" class="content-box reviews">
          <h3 th:text="${review.rating}">UNSATISFACTORY</h3>
          <div class="text-container">
            <p th:text="${review.comment}" class="review-text">Sed ut perspiciatis unde omnis iste natus error sit
              voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo.
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
              dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
              sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
              magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
              suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in
              ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
              nulla pariatur?</p>
            <div>
              <hr class="vertical-separator">
              <div class="review-info">
                <p th:text="${#temporals.format(review.createdOn, 'dd MMM YYYY HH:mm')}" class="review-date"></p>
                <p th:text="'- ' + ${review.addedBy.username}" class="reviewer">- Bob</p>
              </div>
            </div>
          </div>
          <form>
            <button th:if="${user.role.name() == 'ADMIN'}" class="btn delete-btn">
              <i class="fa fa-trash" style="color: red; font-size: 24px;"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="home-button">
        <a th:href="@{'/reviews/new-review'}" class="btn">Leave a review</a>
        <a th:href="@{/reviews}" class="btn">Customer Reviews</a>
      </div>
    </div>
  </div>

</div>
</div>

<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>
</body>
</html>
