<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <title>Home - Computer Store</title>

</head>
<body>
<div class="header">
  <div class="button-group">
    <a href="/contact" class="btn orange-btn">Contact Us</a>
    <a href="/reviews" class="btn">Reviews</a>
    <a th:href="@{/items/new-item}" class="btn">Add Item</a> <!--th:href="@{/items}"-->
  </div>
  <div class="button-group">
    <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="btn">Profile</a>
    <a href="/cart" class="btn">Cart</a>
    <a href="/logout" class="btn logout-btn">Logout</a>
  </div>
</div>

<div class="container">
  <header>
    <h1>Welcome,
      <span id="userName"
            th:if="${not #strings.isEmpty(user.firstName) or not #strings.isEmpty(user.lastName)}"
            th:text="${user.firstName} + ' ' + ${user.lastName}">John Doe</span>
    </h1>
  </header>

  <div class="content-columns">
    <div class="side">
      <div class="column top-three">
        <h2>New Items</h2>
        <div class="content-box items">
          <div class="image item">
            <img src="" alt="Best Seller 1">
          </div>
          <div class="details item">
            <h3>Best Seller 1</h3>
            <p>$249.99</p>
          </div>
        </div>
        <div class="content-box items">
          <div class="image item">
            <img src="" alt="Best Seller 2">
          </div>
          <div class="details item">
            <h3>Best Seller 2</h3>
            <p>$349.99</p>
          </div>
        </div>
        <div class="content-box items">
          <div class="image item">
            <img src="" alt="Best Seller 3">
          </div>
          <div class="details item">
            <h3>Best Seller 3</h3>
            <p>$449.99</p>
          </div>
        </div>
        <div class="content-box items">
          <div class="image item">
            <img src="" alt="Best Seller 2">
          </div>
          <div class="details item">
            <h3>Best Seller 2</h3>
            <p>$349.99</p>
          </div>
        </div>
      </div>
      <div class="home-button">
        <a th:href="@{/items}" class="btn">See More Items</a>
      </div>
    </div>

    <div class="side">
      <div class="column top-three">
        <h2>Reviews</h2>
        <div class="content-box reviews">
          <h3>Excellent Product!</h3>
          <div>
            <p>"This computer is blazing fast and super reliable!"</p>
            <span class="reviewer">- Alice</span>
          </div>
        </div>
        <div class="content-box reviews">
          <h3>UNSATISFACTORY</h3>
          <div>
            <p>"A great blend of performance and design. Totally worth it."</p>
            <span class="reviewer">- Bob</span>
          </div>
        </div>
        <div class="content-box reviews">
          <h3>Outstanding Service</h3>
          <div>
            <p>"The customer service and product quality exceeded my expectations."</p>
            <span class="reviewer">- Carol</span>
          </div>
        </div>
        <div class="content-box reviews">
          <h3>Outstanding Service</h3>
          <div>
            <p>"The customer service and product quality exceeded my expectations."</p>
            <span class="reviewer">- Carol</span>
          </div>
        </div>
      </div>
      <div class="home-button">
        <a href="/new-review" class="btn">Leave a review</a>
      </div>
    </div>
  </div>

</div>
</div>

<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>
</body>
</html>
