

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>Computer Store</title>

</head>
<body>
<div class="header">
  <a th:href="@{/contact}" class="btn contact-btn">Contact Us</a>
  <div class="button-group">
    <a th:href="@{/login}" class="btn">Login</a>
    <a th:href="@{/register}" class="btn">Register</a>
  </div>
</div>
<div class="container">
  <header>
    <h1>Welcome to Future Tech Computer Store</h1>
    <p>Your one-stop shop for futuristic gadgets and tech.</p>
  </header>
</div>
<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>
</body>
</html>


