<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/pc-store-icon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <link rel="stylesheet" type="text/css" href="/css/item-details.css">
  <title>Item Details</title>
</head>
<body>
<div class="header">
  <div class="button-group">
    <a th:href="@{/home}" class="btn">Home</a>
  </div>
  <div class="button-group">
    <a th:href="@{/cart}" class="btn">Cart</a>
    <a href="/logout" class="btn logout-btn">Logout</a>
  </div>
</div>

<div class="container">
  <header>
    <h1>Item Details</h1>
  </header>

  <div class="content-columns">
    <div class="column">
      <div class="content-box items">

        <div class="image item">
          <!-- Display the item's image -->
          <img th:src="${item.imageUrl}" alt="Item Image">
        </div>

        <!--        todo  -->
        <!--        <div class="carousel">-->
        <!--          <div class="carousel-images">-->
        <!--            <img src="image1.jpg" alt="Image 1" class="active">-->
        <!--            <img src="image2.jpg" alt="Image 2">-->
        <!--            <img src="image3.jpg" alt="Image 3">-->
        <!--          </div>-->
        <!--          <button class="prev">❮</button>-->
        <!--          <button class="next">❯</button>-->
        <!--        </div>-->


        <div class="details item">
          <!-- Display the item's name -->
          <h2 th:text="${item.brand} + ' ' + ${item.model}">Item Name</h2>

          <!-- Display the item's price -->
          <p class="price" th:text="'PRICE: $' + ${item.price}">$249.99</p>

          <!-- Display the item's description -->
          <p th:text="'Description: ' + ${item.description}">Item Description</p>

          <!-- Display the item's type -->
          <p th:text="'Type: ' + ${item.type}">Electronics</p>

          <!-- Display the item's condition -->
          <p th:text="'Condition: ' + ${item.itemCondition}">New</p>

        </div>
        <form th:action="@{'/cart/add/' + ${item.id}}" method="post">
          <input type="hidden" name="_method" value="POST">
          <button th:unless="${item.owner.id == user.id}" type="submit" class="btn add-to-cart-btn">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>

<script>
    const images = document.querySelectorAll('.carousel-images img');
    const prevButton = document.querySelector('.prev');
    const nextButton = document.querySelector('.next');
    let currentIndex = 0;

    function showImage(index) {
        images.forEach((img, i) => {
            img.classList.toggle('active', i === index);
        });
    }

    prevButton.addEventListener('click', () => {
        currentIndex = (currentIndex === 0) ? images.length - 1 : currentIndex - 1;
        showImage(currentIndex);
    });

    nextButton.addEventListener('click', () => {
        currentIndex = (currentIndex === images.length - 1) ? 0 : currentIndex + 1;
        showImage(currentIndex);
    });

    showImage(currentIndex);
</script>


</body>
</html>
