<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/form.css">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <title>Login - Computer Store</title>

</head>
<body>
<div class="header">
  <div>
    <a th:href="@{/contact}" class="btn contact-btn">Contact Us</a>
  </div>
  <div class="button-group">
    <a th:href="@{/login}" class="btn">Login</a>
    <a th:href="@{/register}" class="btn">Register</a>
  </div>
</div>
<div class="container">
  <header>
    <h1>Cyber Cave</h1>
  </header>
  <form th:action="@{/login}" th:method="POST" th:object="${loginRequest}" class="form">
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" th:field="*{email}" required>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert-warning"></p>


    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" th:field="*{password}" required>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert-warning"></p>


    <button type="submit" class="btn confirm-btn">Login</button>
  </form>
  <footer>
    <p>Don't have an account? <a href="/register" class="link">Register here</a></p>
  </footer>
</div>
<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>
</body>
</html>
