<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <title>Login - Computer Store</title>

</head>
<body>
<div class="header">
  <div>
    <a th:href="@{/contact}" class="btn contact-btn">Contact Us</a>
  </div>
  <div class="button-group">
    <a th:href="@{/login}" class="btn">Login</a>
    <a th:href="@{/register}" class="btn">Register</a>
  </div>
</div>
<div class="container">
  <header>
    <h1>Login to Your Account</h1>
  </header>
  <form action="/login" method="post" class="form">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required>

    <button type="submit" class="btn">Login</button>
  </form>
  <footer>
    <p>Don't have an account? <a href="/register" class="link">Register here</a></p>
  </footer>
</div>
<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>
</body>
</html>
