<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/pc-store-icon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <link rel="stylesheet" type="text/css" href="/css/profile.css">

  <title>User Profile</title>
</head>
<body>

<div class="header">
  <div class="button-group">
    <a th:href="@{/home}" class="btn">Home</a>
  </div>
  <div class="button-group">
    <a href="/logout" class="btn logout-btn">Logout</a>
  </div>
</div>

<div class="container">
  <header>
    <h1>User Profile</h1>
  </header>

  <div class="content-columns">
    <div class="column user-info">
      <div class="profile-info">
        <h2>Details</h2>
        <p><strong>Username: </strong> <span th:text="${user.username}"></span></p>
        <p><strong>First Name: </strong><span th:text="${user.firstName}"></span></p>
        <p><strong>Last Name: </strong><span th:text="${user.lastName}"></span></p>
        <p><strong>Email: </strong><span th:text="${user.email}"></span></p>
      </div>
      <div class="button">
        <a th:href="@{'/users/' + ${user.id} + '/edit'}" class="btn">Edit Profile</a>
      </div>
    </div>

    <div class="column user-orders">
      <h2>Orders</h2>
      <ul th:each="order : ${user.getCustomerOrders()}" class="user-orders">
        <li>
          <div class="customer-info">
            <div class="order billing-address">
              <p><strong>Billing address:</strong></p>
              <p th:text="${order.billingAddress}"></p>
            </div>
            <div class="order shipping-address">
              <p><strong>Shipping address:</strong></p>
              <p th:text="${order.shippingAddress}"></p>
            </div>
            <div class="order phone-number">
              <p><strong>Phone number:</strong></p>
              <p th:text="${order.customerPhoneNumber}"></p>
            </div>
          </div>
          <div th:each="item : ${order.orderedItems}" class="order items">
            <p th:text="${item.brand} + ' ' + ${item.model}"></p>
            <p th:text="'$' + ${item.price}"></p>
          </div>
          <div class="order final-info">
            <p th:text="'Date: ' + ${#temporals.format(order.createdOn, 'dd MMM YYYY')}"></p>
            <p th:text="'Total amount: $' + ${order.orderAmount}">$249.99</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <p>&copy; Computer Store Project 2025. All rights reserved.</p>
</footer>

</body>
</html>
